<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/testORM</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>



        <!-- Hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate SQL logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Auto schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Entity class mappings -->
        <mapping class="uz.gym.crm.domain.User"/>
        <mapping class="uz.gym.crm.domain.Test"/>
        <mapping class="uz.gym.crm.domain.Trainer"/>
        <mapping class="uz.gym.crm.domain.Trainee"/>
        <mapping class="uz.gym.crm.domain.Training"/>
        <mapping class="uz.gym.crm.domain.TrainingType"/>

    </session-factory>
</hibernate-configuration>
